@using System.Web.Mvc
@using BELibrary.Entity
@model Course
@{
    ViewBag.Title = ViewBag.Key + " " + ViewBag.Element;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-title">
    <h5 class="text-overflow">@ViewBag.Key @ViewBag.Element</h5>
    <!--Searchbox-->
    @*<div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>*@
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/mcourse">@ViewBag.Element</a></li>
    <li class="active">@ViewBag.Key @ViewBag.Element</li>
</ol>
<!--End breadcrumb-->
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="product_add#post">Bài viết </a>
        </li>
        <li>
            <a data-toggle="tab" href="product_add#content">Nội dung <span class="badge badge-purple">1</span></a>
        </li>

    </ul>
    <!--Tabs Content-->

    <form id="form">
        <div class="tab-content">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @if (ViewBag.isEdit)
            {
                <input type="hidden" value="true" name="isEdit" />
                <input type="hidden" value="@Model.Id" name="Id" />
            }
            else
            {
                <input type="hidden" value="false" name="isEdit" />
            }
            <div id="post" class="tab-pane fade active in">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Tiêu đề</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = 250 } })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label class="control-label">Ảnh đại diện</label>
                                    <div class="input-group date">
                                        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = 250 } })
                                        <span class="input-group-addon" onclick="ChooseImg()">
                                            <i class="fa fa-upload fa-lg"></i>
                                        </span>
                                    </div>
                                    @if (ViewBag.isEdit)
                                    {
                                        <img class="img img-thumbnail" id="Img" src="@Model.Image" />
                                    }
                                    else
                                    {
                                        <img class="img img-thumbnail" id="Img" src="" />
                                    }
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Ngôn ngữ</label>
                                    @Html.DropDownList("LanguageId", (SelectList)ViewBag.LangCode, "---Select---", new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">Status</label>
                                    <div>
                                        @Html.CheckBoxFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-3">
                                <div class="form-group">
                                    <label class="control-label">Top Hot</label>
                                    <div>
                                        @Html.CheckBoxFor(model => model.TopHot, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Nội dung mô tả ngắn (max 300 Character)</label>
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "6", @required = "required", @maxlength = 300 })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Phúc lợi (max 1000 Character)</label>
                                    @Html.TextAreaFor(model => model.Benefits, new { @class = "form-control", @rows = "6", @maxlength = 1000 })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Yêu cầu</label>
                                    @Html.TextAreaFor(model => model.Requirements, new { @class = "form-control", @rows = "10", @required = "required", @maxlength = 500 })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <a class="btn btn-default btn-icon icon-lg fa fa-arrow-left fa-lg" href="/admin/mcourse"></a>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-success btn-labeled fa fa-send fa-lg btn-save" style="float: right;" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content" class="tab-pane fade">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Nội dung</label>
                                    <div ass="col-md-10">
                                        @Html.TextAreaFor(model => model.Content, new { @id = "FullDescription", @class = "form-control", @rows = "200" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <a class="btn btn-default btn-icon icon-lg fa fa-arrow-left fa-lg" href="/admin/mcourse"></a>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-success btn-labeled fa fa-send fa-lg btn-save" style="float: right;" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            function init() {
                CKEDITOR.replace("FullDescription", {
                    height: 500
                });

                $("#Image").change(function () {
                    var imgSrc = $("input[name=Image]").val();
                    if (imgSrc != "") {
                        $("#Img").attr("src", imgSrc);
                    }
                });
                $(".btn-save").click(function () {
                    var configs = [
                        {
                            "id": "Name",
                            "rq": true,
                            "maxLength": 250,
                            "name": "Tiêu đề"
                        },
                        {
                            "id": "Image",
                            "rq": true,
                            "maxLength": 250,
                            "name": "Ảnh đại diện"
                        },
                        {
                            "id": "LanguageId",
                            "rq": true,
                            "maxLength": 2,
                            "name": "Ngôn ngữ"
                        },
                        {
                            "id": "Description",
                            "rq": true,
                            "maxLength": 500,
                            "name": "Mô tả ngắn"
                        },
                        {
                            "id": "Requirements",
                            "rq": true,
                            "maxLength": 500,
                            "name": "Yêu cầu"
                        }  
                    ]
                    for (var i = 0; i < configs.length; i++) {
                        if (configs[i].rq) {
                            var selecter = $('#' + configs[i].id);
                            if (selecter.val() == "") {
                                $.niftyNoty({
                                    type: 'danger',
                                    icon: 'fa fa-minus',
                                    message: '<b>' + configs[i].name + '</b> không được trống',
                                    container: 'floating',
                                    timer: 3000
                                });
                                break;
                            }
                            if (selecter.val().length > configs[i].maxLength) {
                                $.niftyNoty({
                                    type: 'danger',
                                    icon: 'fa fa-minus',
                                    message: '<b>' + configs[i].name + ': ' + selecter.val().length + '</b> quá dài (Tiêu chuẩn: ' + configs[i].maxLength + ')',
                                    container: 'floating',
                                    timer: 3000
                                });
                                break;
                            }
                        }
                    }
                });
            }

            init();
        });

        function ChooseImg() {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#Img").attr("src", fileUrl);
                $("#Image").val(fileUrl);
            }
            finder.popup();
        }

        $('#form')
            .submit(function (e) {
                e.preventDefault();
                $(':input[type="submit"]').prop('disabled', true);
                var content = CKEDITOR.instances['FullDescription'].getData();
                if (content.length <= 0) {
                    $.niftyNoty({
                        type: 'danger',
                        icon: 'fa fa-minus',
                        message: "Tab nội dung không được bỏ trống",
                        container: 'floating',
                        timer: 3000
                    });
                    $(':input[type="submit"]').prop('disabled', false);
                    return;
                }
                var formData = new FormData(this);
                formData.set("Content", content);
                $.ajax({
                    url: '/admin/mCourse/CreateOrEdit',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.status) {
                            $.niftyNoty({
                                type: 'success',
                                icon: 'fa fa-check',
                                message: response.mess,
                                container: 'floating',
                                timer: 3000
                            });
                            setTimeout(function () {
                                window.location.href = '/admin/mCourse';
                            }, 3000);
                        } else {
                            $.niftyNoty({
                                type: 'danger',
                                icon: 'fa fa-minus',
                                message: response.mess,
                                container: 'floating',
                                timer: 3000
                            });
                            $(':input[type="submit"]').prop('disabled', false);
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
    </script>
}